<h1 id="-">磯乃屋 ディレクトリ サンプル</h1>
<p>Overview</p>
<h2 id="description">Description</h2>
<p>磯乃屋のサイト制作の際に使用するサンプル
基本的なディレクトリのサンプルです。
この階層は単純にみなさんが作りやすいようにしているだけなので、これが実践で使われることはあまりないと思います。</p>
<h2 id="demo">Demo</h2>
<h2 id="vs-">VS.</h2>
<h2 id="requirement">Requirement</h2>
<h2 id="usage">Usage</h2>
<p>==============================</p>
<p>電話のリンクについて</p>
<p>spなどでクリックすると電話できるようになっていますが、サンプルにはそれがありません。
もしクリックすると電話できるようにする場合は
<a href="tel:0112068836">011-206-8836</a>
のように記述してください。</p>
<p>==============================</p>
<p>フォントの指定について</p>
<p>フォントはデフォルトで_font.scssの$font-baseファイルの内容が適用されています。
（記述はreset.scssに記述しています。）
notosans-japaneseを使用したい場合は$font-notoをcssで適用させて既存のfont-familyに上書きして利用してください。</p>
<p>==============================</p>
<p>cssのリセットについて</p>
<p>_ress.scssファイルが適用されています。
正直全部私も見ていないですが、一つ一つ説明が記述されています。
これをつなげておくと、多少の表示のズレや、表示されない問題点を解決できますので、つなげておくことをお勧めします。</p>
<p>==============================</p>
<p>box-sizingについて</p>
<p>_reset.scss、 _ress.scssにてbox-sizing: border-box;が全ての要素に指定されています。
特に自ら指定する必要は無いと思います。</p>
<p>==============================</p>
<p>マウスの選択時の色について</p>
<p>上記ressファイルをつなげておくことで、マウスで選択した時の色合いが少し薄い水色になります。
設定は_ress.scssの以下にあります。</p>
<p>選択時の背景色：692行目(FireFox用)
選択時の背景色：706行目(その他ブラウザ用)</p>
<p>選択時の文字の色：694行目(FireFox用)
選択時の文字の色：708行目(その他ブラウザ用)</p>
<h2 id="install">Install</h2>
<h2 id="contribution">Contribution</h2>
<h2 id="licence">Licence</h2>
<p>[MIT]</p>
<h2 id="author">Author</h2>
<p><a href="https://twitter.com/webstudysapporo">wss</a></p>
